/* Start Of Fonts */
@font-face {
    font-family: main;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

/* End Of Fonts */

/* Start Of Variables */
:root {
    --main-color: #343434;
}

/* End Of Variables */

/* Start Of Global */
section {
    padding-block: 100px;
}

.main-color {
    color: var(--main-color);
}

.container {
    width: 80%;
}

.nav-scroll {
    background-color: #0806067c;
    transition: background-color 0.3s ease;
}

.main-bg {
    background-color: #F7F7F7;
}

.second-bg {
    background-color: #F4F4F4;
}

/* End Of Global */

body {
    font-family: main;
}

/* Start Of Nav */
nav .container .navbar-nav .nav-item {
    padding-left: 30px;
}

nav .container .navbar-nav .nav-item a {
    color: #fff;
}

nav .container .navbar-nav .nav-item a:hover {
    color: #fff;
}


nav .container .navbar-nav .nav-item a.active {
    color: #fff;
    border-bottom: 1px solid #fff;

}

/* End Of Nav */

/* Start Of Home */
header {
    background-image: linear-gradient(90deg, #00000092, #00000092), url(../Images/bg.jpg);
    background-position: center;
    background-size: cover;
}

header .home h1 {
    font-size: 50px;
}

header .home p {
    font-size: 60px;
}

header .home p::after {
    content: "";
    animation: typing 8s infinite;
}

@keyframes typing {
    0% {
        content: "|";
    }

    2% {
        content: "D|";
    }

    4% {
        content: "De|";
    }

    6% {
        content: "Dev|";
    }

    8% {
        content: "Deve|";
    }

    10% {
        content: "Devel|";
    }

    12% {
        content: "Develo|";
    }

    14% {
        content: "Develop|";
    }

    16% {
        content: "Develope|";
    }

    18% {
        content: "Developer|";
    }

    20% {
        content: "Develope|";
    }

    22% {
        content: "Develop|";
    }

    24% {
        content: "Develo|";
    }

    26% {
        content: "Devel|";
    }

    28% {
        content: "Deve|";
    }

    30% {
        content: "Dev|";
    }

    32% {
        content: "De|";
    }

    34% {
        content: "Des|";
    }

    36% {
        content: "Desi|";
    }

    38% {
        content: "Desig|";
    }

    40% {
        content: "Design|";
    }

    42% {
        content: "Designe|";
    }

    44% {
        content: "Designer|";
    }

    46% {
        content: "Designe|";
    }

    48% {
        content: "Design|";
    }

    50% {
        content: "Desig|";
    }

    52% {
        content: "Desi|";
    }

    54% {
        content: "Des|";
    }

    56% {
        content: "De|";
    }

    58% {
        content: "D|";
    }

    60% {
        content: "|";
    }

    62% {
        content: "A|";
    }

    64% {
        content: "Ah|";
    }

    66% {
        content: "Ahm|";
    }

    68% {
        content: "Ahme|";
    }

    70% {
        content: "Ahmed|";
    }

    72% {
        content: "Ahmed |";
    }

    74% {
        content: "Ahmed  R|";
    }

    76% {
        content: "Ahmed Re|";
    }

    78% {
        content: "Ahmed Red|";
    }

    80% {
        content: "Ahmed Reda|";
    }

    82% {
        content: "Ahmed Red|";
    }

    84% {
        content: "Ahmed Re|";
    }

    86% {
        content: "Ahmed R|";
    }

    88% {
        content: "Ahmed |";
    }

    90% {
        content: "Ahmed|";
    }

    92% {
        content: "Ahme|";
    }

    94% {
        content: "Ahm|";
    }

    96% {
        content: "Ah|";
    }

    97% {
        content: "A|";
    }

    100% {
        content: "|";
    }
}

header .home .home-i li {
    width: 40px;
    height: 40px;
    background-color: #010b118e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .home .home-i li a {
    color: #fff;
}

@media screen and (max-width:576px) {
    header .home p {
        font-size: 40px;
    }
}

/* End Of Home */

/* Start Of About */

#about .about-img::before {
    content: "";
    background-image: url(../Images/dots.png);
    background-repeat: repeat;
    width: 80%;
    height: 80%;
    position: absolute;
    left: -20px;
    bottom: -30px;
    z-index: -1;
}

#about .about-content p {
    letter-spacing: 2px;
    font-size: 12px;
}

#about .about-content .main-p {
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
}

#about .about-content .about-btn .text-white:hover {
    background-color: #fff;
    color: #000 !important;
}

#about .about-content .about-btn .text-dark:hover {
    color: #fff !important;
}

@media screen and (max-width:992px) {
    #about .container .about-content {
        margin-top: 50px !important;
    }
}

/* End Of About */

/* Start Of Services */
#services {
    background-color: #F7F7F7;
}

.container .head h2 {
    z-index: 100;
    width: fit-content;
    margin: auto;
}

.container .head h2::after {
    content: "";
    position: absolute;
    background-image: url(../Images/dots.png);
    background-repeat: repeat;
    width: 100%;
    height: 30px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.container .serv-card .serv-i {
    width: 70px;
    height: 70px;
    background-color: #F7F7F7;
    transition: all 0.5s;
    font-size: 22px;
}

.container .serv-card .serv-i i {
    color: var(--main-color);
    transition: all 0.5s;
}

.container .serv-card:hover .serv-i {
    background-color: #000;
}

.container .serv-card:hover .serv-i i {
    color: #fff;
}

/* End Of Services */

/* Start Of Works */
#works .container .nav .nav-item button {
    color: #000;
}

#works .container .nav .nav-item button.active {
    background-color: transparent;
    color: #000;
    font-weight: 800;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #000;
}

.work-img .layer {
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    background-color: #ffffffbb;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}

.work-img:hover .layer {
    opacity: 1;
}

.work-img:hover .layer .layer-i {
    margin-top: 5px;
}

.layer .layer-i {
    margin-top: 30px;
    transition: all 0.8s;
}


.layer .layer-i span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.layer .layer-i span:hover {
    background-color: #fff;
    border: 1px solid #000;
}

.layer .layer-i span i {
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
    cursor: pointer;
}

.layer .layer-i span i:hover {
    color: #000;
}

/* End Of Works */

/* Start Of Clients */

.client .client-img {
    text-align: center;
    padding-bottom: 25px;
}

.client .client-img img {
    width: 100px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
}

/* End Of Clients */

/* Start Of Team */
#team .container .card .card-body {
    background-color: #5B5B5B !important;
}

.card .card-img .card-layer {
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    background-color: #ffffffbb;
    opacity: 0;
    transform:rotatey(180deg);
    transition: all 1s ;
}

.card:hover .card-layer {
    opacity: 1;
    transform:rotatey(360deg);
}
.card .card-img img {
    transition: all 1.2s;
}
.card .card-img:hover img {
    transform: scale(1.1    );
}
.card .card-img .card-layer .layer-icon span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.card .card-img .card-layer .layer-icon span i {
    color: #fff;
    cursor: pointer;
}

/* End Of Team */

/* Start Of Contact */
#contact .container .row .side-i {
    width: 60px;
    height: 60px;
    border-radius:50% ;
    background-color: #F4F4F4;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

#contact .container .row .side-i:hover {
    background-color: #000;
}

#contact .container .row .side-i {
    transition: all 1s;
}

#contact .container .row .side-i:hover i {
    color: #fff;
}

.form-btn button {
    transition: all 1s;
}

.form-btn button:hover{
    background-color: transparent;
    color: #000;
}   
/* End Of Contact */

/* Start Of Footer */
footer {
    background-color: #1C1C1C;
}
footer p {
    color: #718182;
    font-weight: 500;
    font-size: 15px;
}
/* End Of Footer */